<h3>Category Information</h3>
<div class="form-group">
    <button class="btn btn-primary editAppItem" >Edit</button>
    <button class="btn btn-primary deleteAppItem" >Delete</button>
    <button class="btn btn-primary attachAppCategory" >Attach Category</button>
    <button class="btn btn-primary attachArticle" >Attach Article</button>
</div>
<table class="table">
    <tr><th style="text-align:right">Category Name</th><td><%=category.name %></td></tr>
    <tr><th style="text-align:right">Category Alias</th><td><%=category.alias %></td></tr>
    <tr><th style="text-align:right">Published</th><td><%=category.publish %></td></tr>
    <tr><th style="text-align:right">id</th><td><%=category._id %></td></tr>
    <tr><th style="text-align:right">Version</th><td><%=category.version %></td></tr>

</table>
